{% extends "base.html" %}

{% block content %}

<section id="about">
    <div class="container">
        <div class="topside">
            <div class="topside-img"></div>
            <div class="topside-img"></div>
        </div>

        <div class="info">
            <p>We offer our customers a wide variety of cycling accessories, clothing and bicycles since meanwhile 25 years</p>
            <p>Our connection to cycling as well as the important wealth of experience of our employees, of whom many are cycling enthusiasts themselves, is and always will be our major capital. Expert knowledge and experience are invaluable, especially in this fast-paced branch of trade. That is why our employees are constantly trained and educated. Our incentive is to offer our customers not only favourable prices, but also a first-class service and qualified advice, which distinguishes us from other discounters. </p>
        </div>

        <div class="contacts">
            <h3>Reach out:</h3>
            <p>bikecompany@gmail.com</p>
            <p>555-555-5555</p>
        </div>
    </div>
</section>

{% endblock %}